<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='/static/js/movie.js'></script>
</head>
<body>
    <h1>Movies</h1>
    <img src='https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/B6981BDF339764E6C56626C9DE0820CEF297EAF069F62F244E0F50061219F069/scale?width=1200&amp;aspectRatio=1.78&amp;format=webp' width='500px' height='250px' class='movie-img'/>
    <p>Some of my favorite movies include Marvel games</p>
    <div>
        <button class='movie-btn'>Click Me</button>
    </div>
    <a href='./base'>Home</a>
</body>
</html>